.mission-page {
  padding: 20px;
  max-width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.mission-page-header {
  background-color: var(--section-header-color);
  border-radius: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 40px 1fr 65px;
  align-items: center;
}

.mission-page-back-button {
  cursor: pointer;
  width: 34px;
  height: 34px;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff80;
}

.mission-page-editor-header {
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--section-header-color);
  /* font-size: 0.8em; */
  /* color: #ffffff40; */
  padding-left: 15px;
  margin-top: 10px;
  height: 34px;
}

.mission-page-reply-container { 
  border: 1px solid #ffffff40;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.mission-page-reply-header {
  font-size: 0.9em;
  color: lightgray;
  margin-top: 20px;
}

.mission-page-action {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  /* column-gap: 10px; */
}

.mission-page-resource-header {
  background-color: var(--section-header-color);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission-page-filter {
  margin: 0 10px;
  cursor: pointer;
  padding: 3px;
  color: lightgray;
}

.mission-page-filter.selected {
  border-bottom: 1px solid white;
  color: white;
  cursor: default;
}

.mission-page-input-container {
  border: 1px solid #ffffff40;
  padding: 10px;
  border-radius: 10px;
}

.mission-page-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.mission-page-block-data {
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  color: lightgray;
  background-color: rgb(9, 122, 51);
}

.mission-page-block-time {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 14px;
  color: lightgray;
  margin-top: -8px;
}

@media (max-width: 600px) {
  .mission-page {
    padding: 10px;
  }
}