.topics-page {
  padding: 20px;
  max-width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.topics-page-actions {
  display: flex;
  justify-content: space-between;
}

.topics-page-filter {
  padding: 0 10px;
}

.topics-page-action-button {
  width: 50px;
  height: 37px;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffa0;
  margin-left: 10px;
  border: 1px solid #ffffff60;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .topics-page {
    padding: 10px;
  }
}