.mission-panel-row {
  background-color: var(--section-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}

.mission-panel-row-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--section-header-color);
  font-size: 0.8em;
  color: lightgray;
  display: flex;
  /* column-gap: 10px; */
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
  height: 34px;
}

.mission-panel-navlink {
  display: flex;
  color: white;
  align-items: center;
  text-decoration: none;
}

.mission-panel-portrait {
  width: 26px;
  height: 26px;
}

.mission-panel-author {
  color: lightgray;
  padding-top: 0px;
  padding-left: 8px;
}

.mission-panel-ori-date {
  font-size: 0.8em;
  color: lightgray;
}

.mission-panel-action-row {
  display: flex;
  justify-content: space-around;
}

.mission-panel-action {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* background-color: rgb(74, 64, 147); */
}

.mission-panel-action-icon {
  padding: 12px 10px 7px 0;
  /* background-color: rgb(87, 155, 19); */
}

.mission-panel-action-number {
  font-size: 0.8em;
  color: rgb(205, 191, 191);
}
