.post-panel {
  position: relative;
  padding: 10px;
  background-color: var(--section-color);
  border-radius: 10px;
}

.post-panel-menu-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

.post-panel-menu-button:hover .post-panel-menu-panel {
  display: block;
}

.post-panel-menu-panel {
  display: none;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 0px;
  width: 120px;
  background-color: var(--header-menu-color);
  padding: 5px 0;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

.post-panel-menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  padding: 3px 0 3px 15px;
}

.post-panel-menu-item:hover {
  background-color: var(--header-color);
}

.post-panel-profile-link {
  color: white;
  text-decoration: none;
}

.post-panel-portrait {
  width: 80px;
  height: 80px;
  margin: 10px 20px 10px 0;
}

.post-panel-author {
  color: var(--gray-text-color);
  font-size: 0.8em;
}


.post-panel-content {
  font-size: 0.9em;
  margin-top: 10px;
}

.post-panel-time {
  color: var(--gray-text-color);
  font-size: 0.7em;
}

.edit-post-modal-header {
  font-size: 1.1em;
  text-align: center;
}

.edit-post-modal-textarea {
  height: 100px;
  margin: 20px 0;
}

.edit-post-modal-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .post-panel-title {
    width: unset;
  }
}